
@{
    ViewBag.Title = "Index";
}

<h2>A minha calculadora maravilhosa!</h2>

@using (Html.BeginForm())
{   @* <form></form>*@
<table class="calculadora">
    <tr>
        <td colspan="5"><input type="text" name="visor" readonly="readonly" value="@ViewBag.Resposta" class="form-control visor" /></td>
    </tr>
    <tr>
        <td><input type="submit" name="btn" class="btn btn-default" value="7" /></td>
        <td><input type="submit" name="btn" class="btn btn-default" value="8" /></td>
        <td><input type="submit" name="btn" class="btn btn-default" value="9" /></td>
        <td><input type="submit" name="btn" class="btn btn-warning" value="/" /></td>
        <td><input type="submit" name="btn" class="btn btn-warning" value="+/-" /></td>
    </tr>
    <tr>
        <td><input type="submit" name="btn" class="btn btn-default" value="4" /></td>
        <td><input type="submit" name="btn" class="btn btn-default" value="5" /></td>
        <td><input type="submit" name="btn" class="btn btn-default" value="6" /></td>
        <td><input type="submit" name="btn" class="btn btn-warning" value="X" /></td>
        <td><input type="submit" name="btn" class="btn btn-danger" value="C" /></td>
    </tr>
    <tr>
        <td><input type="submit" name="btn" class="btn btn-default" value="1" /></td>
        <td><input type="submit" name="btn" class="btn btn-default" value="2" /></td>
        <td><input type="submit" name="btn" class="btn btn-default" value="3" /></td>
        <td><input type="submit" name="btn" class="btn btn-warning" value="-" /></td>
        <td rowspan="2" style="height: 72px;padding-bottom: 12px;"><input type="submit" name="btn" class="btn btn-success"  value="=" style="height:100%;" /></td>
    </tr>
    <tr>
        <td colspan="2" ><input type="submit" name="btn" class="btn btn-default"  value="0" style="width:100%;" /></td>
        <td><input type="submit" name="btn" class="btn btn-warning"  value="." /></td>
        <td style="padding-right:0 !important"><input type="submit" name="btn" class="btn btn-warning" value="+" /></td>
    </tr>
</table>
}

