body {
    padding-top: 50px;
    padding-bottom: 20px;
}

@font-face {
    font-family: "Digital-7";
    src: url("digital-7.ttf");
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.visor {
    background-color: #009900 !important;
    color: #ccc;
    font-family: Digital-7;
    font-size: 21px;
}

.calculadora {
    border: 5px solid #000;
    background-color: #808080;
}

.calculadora > tbody > tr > td > input{
    font-family: Digital-7;
    font-size:18px;
    width:100%;
}

.calculadora > tbody > tr > td:first-child{
    padding-left:12px;
}

.calculadora > tbody > tr > td:last-child {
    padding-right: 12px;
}

.calculadora > tbody > tr:first-child > td{
    padding-top:25px;
    padding-bottom:5px;
}

.calculadora > tbody > tr:last-child > td {
    padding-bottom: 25px;
}


    /* Override Bootstraps */
.btn {
    min-width: 42px !important;
}